<br>
<div class="container-fluid">
	<div class="col-sm-6">
		<div class="col-sm-8 col-sm-offset-2">
			<h2 class="text-center status">Favorites</h2>
		</div>
		<br>
		<% @comments.each do |comment| %>
		<div class="divSpace">
			<div><%= button_to "#{comment.title}", comment.post, class: "postResults col-xs-8 col-xs-offset-2", method: "get" %><br>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-sm-6">
		<div class="col-sm-8 col-sm-offset-2">
			<h2 class="text-center status">Categories</h2>
		</div>
		<br>
		<% @posts.each do |post| %>
		<div class="divSpace">
			<div><%= button_to "#{post.title}", post, class: "postResults col-xs-8 col-xs-offset-2", method: "get" %><br>
			</div>
		</div>
		<% end %>
	</div>
</div>

