<% @posts.each do |post| %>
  <div class="post">
    <h1 class="post-title"><%= link_to post.title, post %></h1>
  </div>
<% end %>

<% if @posts.empty? %>
<h1 class="text-center">Sorry, no category exists for your search</h1>
<div class="col-sm-4 col-sm-offset-4">
<%= form_for :post, url: "/posts", method: "post" do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "save post", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>