<div class="container-fluid pull-center">
<div class="row">
<div class="col-sm-8 col-sm-offset-3">
<div class="form-control">
	<%= form_for @post do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "savepost", class: 'btn btn-primary' %>
<% end %>
</div>
</div>
</div>
</div>

