<div class="container-fluid pull-center">
<div class="row">
<div class="col-sm-8 col-sm-offset-3">
	<%= form_for @post do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "save post" %>
<% end %>
</div>
</div>
</div>

