body {
	font-family: 'Open Sans', sans-serif;
}
.jumbotron, .navbar-custom {
	background-color: #F23DB7;
	color: white;
	opacity: .90;
	border-radius: 0 !important;
}

.jumbotron {
	margin-bottom: 5em;
}

.navbar-custom a {
	color: white;
}

.jumbotron h1 {
	font-size: 5.2em;
	font-family: 'Roboto', sans-serif;
}

.jumbotron h2 {
	font-size: 1.7em;
	/*font-family: 'Francois One', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

.btn {
	-webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: 'Open Sans', sans-serif;
	  color: #000000;
	  background: #ffffff;
	  border: solid black 2px;
	  text-decoration: none;
	-webkit-transition: all 1.0s;
	-moz-transition: all 1.0s;
	transition: all 1.0s;
}

.btn:hover, .btn:focus {
	-webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: 'Open Sans', sans-serif;
	  color: #000000;
	  border: solid black 2px;
	  text-decoration: none;
	background-color: rgba(56, 249, 255, 0.6);
	-webkit-transition: all 1.0s;
	-moz-transition: all 1.0s;
	transition: all 1.0s;
}

.searchform {
	-webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  color: #000000;
	  font-size: 1.25em;
	  text-decoration: none;
	border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-left: 0px none rgb(51, 51, 51);
    height: 46px;
    width: 300px;
    margin-right: 6px;
}

.commentform {
	-webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  color: #000000;
	  font-size: 1.25em;
	  text-decoration: none;
	border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 1px solid rgb(211, 211, 211);
    border-left: 0px none rgb(51, 51, 51);
    width: 100%;
    margin-right: 6px;
}


input:focus { 
    outline: none !important;
}

#searchbtn {
	padding: .75em 2em;
}

/*.footer {
	margin-top: 3em;
}*/

#foot {
	font-size: 1em;
}

#searchGuide {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.results {
	margin-bottom: .5em;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
/*	padding-top: .75em;
	padding-bottom: .75em;
	padding-left: 1em;
	padding-right: 1em;*/
}

#resultsPad {
	padding-bottom: 4em;
}

ul.nav a {
	-webkit-transition: all 1.0s;
	-moz-transition: all 1.0s;
	transition: all 1.0s;
}

ul.nav a:hover, a:focus { 
	text-decoration: none;
	background-color: rgba(120, 249, 255, 1) !important; 
	-webkit-transition: all 1.0s;
	-moz-transition: all 1.0s;
	transition: all 1.0s;
}

.navbar-nav.nav-justified > li.postTitle {
    float: center;
}

#commentForm {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

/*.splashPost {
	padding: 0;
}*/

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.25dem;
}

.postCreate {
	padding-right: 3em;
	padding-left: 3em;
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1.5em;
}

#postTitle {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    padding-top: .2em;
}

#showNav {
	margin-bottom: 5em; 
}

@media  (max-width: 800px) {
/*	.postCreate {
		padding-right: 3em;
		padding-left: 3em;
		padding-top: .5em;
		padding-bottom: .5em;
		font-size: 1.5em;
*/
	#resultsPad {
		padding-bottom: 1.5em;
	}

	.postCreate {
		margin-left: .5em;
	}

	#searchbtn {
		margin-top: 1em;
	}

	.jumbotron {
		margin-bottom: 0em;
	}

	#searchGuide {
		margin-top: 1em;
		margin-bottom: 1.5em;
	}
	
	.jumbotron h1 {
		font-size: 4em;
	}

	.jumbotron h2 {
		font-size: 1.5em;
	}
/*	.footer {
		margin-top: 0em;
	}*/
}
/*.comment-containers {
	padding-bottom: 20px;
	padding-right: 0px !important;
	padding-left: 0px !important;
}*/

/*.comment-boxes {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.media-object {
	width: 100px;
	height: 100px;
}

.media	{
	display: inline;
}*/